@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

@font-face {
  font-family: "BaskerFont"; /* Use the same name you used in the Tailwind config */
  src: url("../assets/font/BaskervvilleSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  @include centerDiv;
  width: 100%;
  position: absolute;
  z-index: 10;
  padding-top: 10px;
}

.tv_image {
  background-image: url("../assets/images/MovieTemplate/tv_background.jpg");
  background-position: center;
  background-size: cover;
}

.skeleton-box {
  background-color: rgb(136, 135, 135);
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
